$color: #fee;
$default-bg-color: red;
$primary-bg-color: green;

.btn {
  color: $color;
  width: 100px;
  height: 40px;
}

.btn-default {
  color: $color;
  background-color: $default-bg-color;
}

.btn-primary {
  background-color: $primary-bg-color;
}
